.UE_name h1 {
    font-size: 1.8rem;
    font-weight: 600;
}

.post-file {
    border-left: 6px solid red !important;
    background-color: #fff4f4;
    border-radius: 12px;
}

.post-text {
    border-left: 6px solid #0dcaf0 !important;
    background-color: #eaf9ff;
    border-radius: 12px;
}

.card h5 {
    margin-bottom: 0.5rem;
}

small {
    font-size: 0.85rem;
    color: #666;
}

.module-folder {
    transition: all 0.3s ease;
    border-left: 5px solid #ffc107;
}

.module-folder h5 {
    font-weight: 600;
}

.module-content {
    background-color: #f9f9f9;
    padding: 15px;
    border-radius: 8px;
}

.UE_name h1 {
    font-size: 1.8rem;
    font-weight: 600;
}

.module-folder {
    transition: all 0.3s ease;
    border-left: 5px solid #ffc107;
}

.module-content {
    background-color: #f9f9f9;
    padding: 15px;
    border-radius: 8px;
}