<div class="container mt-5">
    <div class="d-flex justify-content-between align-items-center mb-3">
        <h2 class="mb-0">Mes UEs</h2>
        <button class="btn btn-outline-success" (click)="showAddUeForm = !showAddUeForm">
      <i class="bi bi-plus-lg"></i>
    </button>
    </div>

    <div *ngIf="showAddUeForm" class="card p-3 mb-4">
        <div class="mb-3">
            <label for="ueTitle" class="form-label">Titre</label>
            <input id="ueTitle" class="form-control" [(ngModel)]="newUe.title" />
        </div>

        <div class="mb-3">
            <label for="ueDescription" class="form-label">Description</label>
            <textarea id="ueDescription" class="form-control" rows="3" [(ngModel)]="newUe.description"></textarea>
        </div>


        <div class="mb-3">
            <label for="ueImage" class="form-label">Image</label>
            <input type="file" class="form-control" (change)="onImageSelected($event)" />
            <img *ngIf="newUe.image" [src]="newUe.image" class="img-thumbnail mt-2" style="max-height: 150px;" />
        </div>

        <div class="d-flex justify-content-end">
            <button class="btn btn-secondary me-2" (click)="showAddUeForm = false">Annuler</button>
            <button class="btn btn-primary" (click)="addCourse()">Ajouter</button>
        </div>
    </div>

    <div class="row row-cols-1 row-cols-md-3 g-4 mt-4">
        <div class="col" *ngFor="let course of courses">
            <a routerLink="/dashboard/ue">
                <div class="card h-100">
                    <img [src]="course.image" class="card-img-top" alt="course image" />
                    <div class="card-body">
                        <h5 class="card-title">{{ course.title }}</h5>
                        <p class="card-text">{{ course.description }}</p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Last updated
              {{ course.date_updated | date : "dd.MM.yyyy hh:mm" }}</small
            >
          </div>
        </div>
      </a>
    </div>
  </div>
</div>